{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container">
    <h2>
        {% if form.instance.pk %} Kategoriyani tahrirlash
        {% else %} Kategoriya qo‘shish {% endif %}
    </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            {% if form.instance.pk %} Saqlash {% else %} Qo‘shish {% endif %}
        </button>
        <a href="{% url 'category_list' %}" class="btn btn-secondary">Ortga</a>
    </form>
</div>
{% endblock %}
