{% extends 'base.html' %}
{% block main %}
<div class="container mt-4">
    <div class="card shadow rounded-4 mb-4">
        <div class="card-header bg-danger text-white rounded-top-4">
            <h5 class="mb-0">Ingredientni o‘chirish</h5>
        </div>
        <div class="card-body">
            <p>
                <strong>{{ ingredient.name }}</strong> ingredientini o‘chirishni xohlaysizmi?
            </p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Ha, o‘chirish</button>
                <a href="{% url 'ingredient_list' %}" class="btn btn-secondary">Bekor qilish</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
